In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
# Load your dataset
df = pd.read_csv('Dataset.csv')

In [ ]:
# : Explore the dataset

df

In [ ]:
df['Has Table booking'] = df['Has Table booking'].apply(lambda x: 1 if x == 'Yes' else 0)
df['Has Online delivery'] = df['Has Online delivery'].apply(lambda x: 1 if x == 'Yes' else 0)

In [ ]:
# Calculate the percentage of restaurants with table booking and online delivery
table_booking_percentage = (df['Has Table booking'].sum() / len(df)) * 100
online_delivery_percentage = (df['Has Online delivery'].sum() / len(df)) * 100

print(f"Percentage of restaurants offering table booking: {table_booking_percentage:.2f}%")
print(f"Percentage of restaurants offering online delivery: {online_delivery_percentage:.2f}%")

In [ ]:
# Analyze availability of online delivery among different price ranges
online_delivery_by_price_range = df.groupby('Price range')['Has Online delivery'].value_counts(normalize=True).unstack(fill_value=0) * 100

In [ ]:
# Print summary
print(" Price range of Availability of online delivery:")
print(online_delivery_by_price_range)

In [ ]:
common_cuisines = df['Cuisines'].str.split(', ', expand=True).stack().value_counts().head(10)
print("Top 10 most common cuisines:")
print(common_cuisines)

In [ ]:
restaurants_by_city = df['City'].value_counts().head(10)
print("Top 10 cities with the most restaurants:")
print(restaurants_by_city)

In [ ]:
average_cost_by_city = df.groupby('City')['Average Cost for two'].mean().sort_values(ascending=False).head(10)
print("Top 10 cities with the highest average cost for two person:")
print(average_cost_by_city)

In [ ]:
unique_colors = df['Rating color'].unique()
print(unique_colors)

In [ ]:
# Visualize
plt.figure(figsize=(10, 6))
restaurants_by_city.plot(kind='bar')
plt.title('Distribution of Restaurants by City')
plt.xlabel('City')
plt.ylabel('Number of Restaurants')
plt.show()